* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}

nav {
  padding: 20px 10px;
  color: white;
  background: #404040;
  font-size: 20px;
}

.note-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.note-form input {
  padding: 3px 3px;
  outline: none;
}

.note-textarea {
  width: 100%;
  padding:10px;
}

/* .container {
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 0 20rem;
} */

.note-addForm {
  justify-content: center;
}

.notes-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note {
  width: 100%;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  border: solid lightgray 1px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn-container button {
  margin-right: 10px;
}

.card {
  padding:10px;
  width: 50%;
  margin:20px;
}